@import '~antd/dist/antd.css';
.app-changer{
  margin-top: 150px;
  margin-left: 740px;
  display: grid;
  grid-template-areas:
  "logo logо logo"
  "Names Change Del"
;
  grid-template-rows: 60px 2fr;
  grid-auto-columns: 2fr 2fr 2fr;
}

ul{
  float: left;
  list-style-type: none;
}
div{
  float: left;
}

